.ARTICLE_LIST {

}

.ARTICLE_LIST img:hover {
    cursor: pointer;
}

.ARTICLE_LIST div, .ARTICLE_LIST span {
    font-size: 16px;
}

.ARTICLE_LIST a {
    font-size: 18px;
}

.article-list-title {
    font-size: 18px !important;
}

.article-list-title:hover {
    cursor: pointer;
    color: #338e6c;
}

.ant-list-item-action li:last-child:hover {
    color: red;
    cursor: pointer;
}

.article-list-tool-wrap {
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.article-list-tool-search {
    margin-left: 30px;
    width: 500px;
}
